# Read Data

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
import pandas as pd
A = pd.read_csv("C:/Users/Sourabh/Downloads/HR-Employee-Attrition-Table 1.csv")

# Profile

In [3]:
A.head(3)

,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,0,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,1,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0

In [4]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition                 1470 non-null   int64
 1   Age                       1470 non-null   int64
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(27), object(8)
memory usage: 402.1+ KB

# Missing Data

In [5]:
A.isna().sum()

Attrition                   0
Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [6]:
Y = A[["MonthlyRate"]]
X = A.drop(labels=["MonthlyRate"],axis=1)

# Exploratory Data Analysis

In [7]:
cat = []
con = []
for i in X.columns:
    if(X[i].dtypes == "object"):
        cat.append(i)
    else:
        con.append(i)

In [8]:
X[cat].head(3)

,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
0,Travel_Rarely,Sales,Life Sciences,Female,Sales Executive,Single,Y,Yes
1,Travel_Frequently,Research & Development,Life Sciences,Male,Research Scientist,Married,Y,No
2,Travel_Rarely,Research & Development,Other,Male,Laboratory Technician,Single,Y,Yes

In [9]:
X[con].head(3)

,Attrition,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,1102,1,2,1,1,2,94,3,...,1,80,0,8,0,1,6,4,0,5
1,0,49,279,8,1,1,2,3,61,2,...,4,80,1,10,3,3,10,7,1,7
2,1,37,1373,2,2,1,4,4,92,2,...,2,80,0,7,3,3,0,0,0,0

In [10]:
def ANOVA(df,cat,con):
    from pandas import DataFrame
    from statsmodels.formula.api import ols
    rel = con + " ~ " + cat
    model = ols(rel,df).fit()
    from statsmodels.stats.anova import anova_lm
    anova_results = anova_lm(model)
    Q = DataFrame(anova_results)
    a = Q['PR(>F)'][cat]
    return round(a,3)

In [11]:
imp_con_cols = []
for i in cat: 
    print("----------MonthlyRate vs",i,"------------")
    x = ANOVA(A,i,"MonthlyRate")
    print(x)
    if(x < 0.05):
        imp_con_cols.append(i)

----------MonthlyRate vs BusinessTravel ------------
0.838
----------MonthlyRate vs Department ------------
0.57
----------MonthlyRate vs EducationField ------------
0.753
----------MonthlyRate vs Gender ------------
0.112
----------MonthlyRate vs JobRole ------------
0.779
----------MonthlyRate vs MaritalStatus ------------
0.31
----------MonthlyRate vs Over18 ------------
nan
----------MonthlyRate vs OverTime ------------
0.412

In [12]:
imp_con_cols.append("Gender")

In [14]:
A.corr()["MonthlyRate"].sort_values()

YearsWithCurrManager       -0.036746
StockOptionLevel           -0.034323
DailyRate                  -0.032182
Education                  -0.026084
YearsAtCompany             -0.023655
JobInvolvement             -0.016322
HourlyRate                 -0.015297
YearsInCurrentRole         -0.012815
PerformanceRating          -0.009811
PercentSalaryHike          -0.006429
RelationshipSatisfaction   -0.004085
JobSatisfaction             0.000644
TrainingTimesLastYear       0.001467
YearsSinceLastPromotion     0.001567
WorkLifeBalance             0.007963
EmployeeNumber              0.012648
Attrition                   0.015170
NumCompaniesWorked          0.017521
TotalWorkingYears           0.026442
DistanceFromHome            0.027473
Age                         0.028051
MonthlyIncome               0.034814
EnvironmentSatisfaction     0.037600
JobLevel                    0.039563
MonthlyRate                 1.000000
EmployeeCount                    NaN
StandardHours                    NaN
Name: MonthlyRate, dtype: float64

# preprocessing

In [15]:
from PM8 import preprocessing
X = A[["JobLevel"]]

# split the data in training and testing set

In [16]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=21)

# Create regression models:
    1. SLR
    2. MLR
    3. DTR
    4. RFR | ABR

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import mean_absolute_error,explained_variance_score

In [22]:
def model(mobj):
    model = mobj.fit(xtrain,ytrain)
    pred_tr = model.predict(xtrain)
    tr_acc = mean_absolute_error(ytrain,pred_tr)
    pred_ts = model.predict(xtest)
    ts_acc = mean_absolute_error(ytest,pred_ts)
    exp_var = explained_variance_score(ytest,pred_ts)
    return round(tr_acc,3),round(ts_acc,3),exp_var,mobj

In [23]:
lm = LinearRegression()
model(lm)

(6164.147, 6265.515, 0.004169958769105198, LinearRegression())

In [25]:
from PM8 import preprocessing
X = A.drop(labels=["MonthlyRate"],axis=1)
Xnew = preprocessing(X)
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Y,test_size=0.2,random_state=21)

In [26]:
Q = []
for i in range(2,20):
    dtr = DecisionTreeRegressor(random_state=21,max_depth=i)
    Q.append(model(dtr))

In [27]:
Q

[(6074.345,
  6332.767,
  -0.04170664128709212,
  DecisionTreeRegressor(max_depth=2, random_state=21)),
 (6000.14,
  6345.39,
  -0.06116753684483922,
  DecisionTreeRegressor(max_depth=3, random_state=21)),
 (5861.491,
  6329.589,
  -0.055290678789388314,
  DecisionTreeRegressor(max_depth=4, random_state=21)),
 (5688.867,
  6495.855,
  -0.14836418881872437,
  DecisionTreeRegressor(max_depth=5, random_state=21)),
 (5407.625,
  6622.983,
  -0.2287788602321692,
  DecisionTreeRegressor(max_depth=6, random_state=21)),
 (5008.309,
  7006.381,
  -0.38974225825748676,
  DecisionTreeRegressor(max_depth=7, random_state=21)),
 (4497.233,
  7216.831,
  -0.4659154028696886,
  DecisionTreeRegressor(max_depth=8, random_state=21)),
 (4039.262,
  7300.052,
  -0.5451347991067017,
  DecisionTreeRegressor(max_depth=9, random_state=21)),
 (3437.394,
  7696.496,
  -0.728536404056936,
  DecisionTreeRegressor(max_depth=10, random_state=21)),
 (2848.33,
  7647.737,
  -0.7416852962248524,
  DecisionTreeRegressor(max_depth=11, random_state=21)),
 (2332.73,
  7700.164,
  -0.8177093507497579,
  DecisionTreeRegressor(max_depth=12, random_state=21)),
 (1816.009,
  8232.99,
  -0.9785732814220052,
  DecisionTreeRegressor(max_depth=13, random_state=21)),
 (1357.462,
  8334.528,
  -1.0211871274083988,
  DecisionTreeRegressor(max_depth=14, random_state=21)),
 (1007.61,
  8122.153,
  -1.0163933986303282,
  DecisionTreeRegressor(max_depth=15, random_state=21)),
 (703.974,
  8205.771,
  -1.0306615356427304,
  DecisionTreeRegressor(max_depth=16, random_state=21)),
 (481.782,
  8452.897,
  -1.1183666869819957,
  DecisionTreeRegressor(max_depth=17, random_state=21)),
 (295.735,
  8603.425,
  -1.1713792292535228,
  DecisionTreeRegressor(max_depth=18, random_state=21)),
 (182.673,
  8718.014,
  -1.2179722760249208,
  DecisionTreeRegressor(max_depth=19, random_state=21))]

In [28]:
Q = []
for i in range(2,20):
    rf = RandomForestRegressor(random_state=21,n_estimators=i)
    Q.append(model(rf))
Q

[(2878.443,
  7460.903,
  -0.580553205050812,
  RandomForestRegressor(n_estimators=2, random_state=21)),
 (2808.111,
  6742.627,
  -0.29557346424729825,
  RandomForestRegressor(n_estimators=3, random_state=21)),
 (2742.051,
  6824.177,
  -0.30296007071417375,
  RandomForestRegressor(n_estimators=4, random_state=21)),
 (2660.387,
  6842.777,
  -0.27611885943552816,
  RandomForestRegressor(n_estimators=5, random_state=21)),
 (2655.097,
  6685.397,
  -0.23089261200254563,
  RandomForestRegressor(n_estimators=6, random_state=21)),
 (2620.461,
  6557.2,
  -0.1673556829364653,
  RandomForestRegressor(n_estimators=7, random_state=21)),
 (2583.765,
  6576.727,
  -0.16431798877963066,
  RandomForestRegressor(n_estimators=8, random_state=21)),
 (2546.882,
  6478.502,
  -0.1166255257443587,
  RandomForestRegressor(n_estimators=9, random_state=21)),
 (2526.111,
  6484.632,
  -0.11079524296106724,
  RandomForestRegressor(n_estimators=10, random_state=21)),
 (2515.767,
  6439.59,
  -0.0876497157432723,
  RandomForestRegressor(n_estimators=11, random_state=21)),
 (2518.618,
  6481.314,
  -0.09434713197429345,
  RandomForestRegressor(n_estimators=12, random_state=21)),
 (2497.36,
  6500.694,
  -0.09087154547687559,
  RandomForestRegressor(n_estimators=13, random_state=21)),
 (2474.276,
  6435.457,
  -0.07653570270507681,
  RandomForestRegressor(n_estimators=14, random_state=21)),
 (2465.793,
  6443.671,
  -0.07422670716723578,
  RandomForestRegressor(n_estimators=15, random_state=21)),
 (2463.439,
  6465.322,
  -0.08153733105458061,
  RandomForestRegressor(n_estimators=16, random_state=21)),
 (2439.49,
  6458.733,
  -0.07660102411938796,
  RandomForestRegressor(n_estimators=17, random_state=21)),
 (2430.889,
  6445.365,
  -0.07168153558456947,
  RandomForestRegressor(n_estimators=18, random_state=21)),
 (2425.136,
  6392.936,
  -0.05617620486082209,
  RandomForestRegressor(n_estimators=19, random_state=21))]

In [29]:
Q = []
for i in range(20,40):
    abc = AdaBoostRegressor(DecisionTreeRegressor(max_depth=3,random_state=21),n_estimators=i)
    Q.append(model(abc))
Q

[(6054.716,
  6302.577,
  -0.014756524679272465,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=20)),
 (6019.705,
  6308.053,
  -0.0164874905436192,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=21)),
 (6047.518,
  6315.191,
  -0.011026371896841747,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=22)),
 (6057.439,
  6280.33,
  -0.007253518632210687,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=23)),
 (6055.158,
  6297.709,
  -0.016691197272652225,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=24)),
 (6081.152,
  6284.776,
  -0.005737712329311195,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=25)),
 (6056.449,
  6270.697,
  -0.010017596981154897,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=26)),
 (6058.556,
  6298.689,
  -0.0017043487973613658,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=27)),
 (6074.834,
  6303.392,
  -0.006537534615540963,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=28)),
 (6040.395,
  6285.291,
  0.004401491064557894,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=29)),
 (6059.55,
  6272.553,
  -0.0031757500876470335,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=30)),
 (6007.909,
  6303.157,
  -0.016114010280864344,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=31)),
 (5984.175,
  6345.767,
  -0.03756694128770999,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=32)),
 (6058.912,
  6273.458,
  -0.010326512411654498,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=33)),
 (6055.032,
  6211.69,
  0.0076134259353719536,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=34)),
 (6069.891,
  6332.446,
  -0.021717954119373273,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=35)),
 (6068.013,
  6331.603,
  -0.010757000992966503,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=36)),
 (6069.946,
  6274.452,
  0.003593962621234237,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=37)),
 (6063.972,
  6228.591,
  0.007512790958235205,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=38)),
 (6040.944,
  6162.341,
  0.022221053068417818,
  AdaBoostRegressor(base_estimator=DecisionTreeRegressor(max_depth=3,
                                                         random_state=21),
                    n_estimators=39))]